@model CookBookApp.Models.ViewModels.CreateRecipeViewModel

@{
    ViewData["Title"] = "New Recipe";
}

<h1>Create Recipe</h1>

<form id="recipeForm">
    <div class="form-group">
        <input id="recipeId" type="hidden" asp-for="@Model.Recipe.Id" value="@Model.Recipe.Id" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Recipe.Name"></label>
        <input id="inputName" asp-for="@Model.Recipe.Name" class="form-control" />
        <span asp-validation-for="@Model.Recipe.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <div class="custom-file">
            <input id="avatar" type="file" name="avatar" class="custom-file-input" />
            <label class="custom-file-label" for="avatar">Choose recipe picture</label>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.MealCategoryId" class="control-label"></label>
        <select id="mealCategoryDropdown"
                asp-for="@Model.MealCategoryId"
                asp-items="@(new SelectList(Model.MealCategories,"Id","Name"))"
                class="form-control"></select>
        <span asp-validation-for="@Model.MealCategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Recipe.ShortDescription"></label>
        <textarea id="inputDescription" asp-for="@Model.Recipe.ShortDescription" class="form-control" cols="10" rows="2"></textarea>
        <span asp-validation-for="@Model.Recipe.ShortDescription" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="@Model.Recipe.PreparationTime"></label>
            <input id="inputPreparationTime" asp-for="@Model.Recipe.PreparationTime" class="form-control" />
            <span asp-validation-for="@Model.Recipe.PreparationTime" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="@Model.Recipe.DifficultyLevel"></label>
            <select id="difficultyLevelDropdown"
                    asp-for="@Model.Recipe.DifficultyLevel" asp-items="Html.GetEnumSelectList<DifficultyLevel>()" 
                    class="form-control"></select>
            <span asp-validation-for="@Model.Recipe.DifficultyLevel" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="@Model.Recipe.Instructions"></label>
        <textarea id="inputInstructions" asp-for="@Model.Recipe.Instructions" class="form-control" rows="6"></textarea>
        <span asp-validation-for="@Model.Recipe.Instructions" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Ingredients</label>
        <div class="row">
            <div class="col-sm">
                <select id="ingredientDropdown"
                        asp-items="@(new SelectList(Model.Ingredients,"Id","Name"))"
                        class="form-control"></select>
            </div>
            <div class="col-sm">
                <input id="quantity" type="text" class="form-control" placeholder="quantity" />
            </div>
            <div class="col-sm">
                <input id="btn-add-ingredient" class="btn btn-warning " type="button" value="Add" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <table id="ingredientsTable" class="table table-borderless table-hover table-sm"></table>
    </div>

    <div class="form-group">
        <input type="button" id="btnPost" value="Submit" class="btn btn-primary" />
    </div>
</form>


@section Scripts  {
<script>
        
    var ChosenIngredients = new Array();

    $(function () {
        var currentId = @Model.Recipe.Id;

        if (currentId != 0)
        {
            @foreach (var ingredient in Model.ChosenIngredients.ToList())
            {
                @:AppendAddedIngredient(@ingredient.IngredientId, "@ingredient.Ingredient.Name", "@ingredient.Quantity");
            }
        }

        $("#btn-add-ingredient").click(function () {
                var ingredientInRecipe = new Object();
                var id = $('#ingredientDropdown').find(":selected").val();
                ingredientInRecipe.IngredientId = $('#ingredientDropdown').find(":selected").val();
                ingredientInRecipe.Quantity = $('#quantity').val();

                ingredientName = $('#ingredientDropdown').find(":selected").text();

                var isAlreadyInArray = false;

                $.map(ChosenIngredients, function(val) {
                    if (val.IngredientId == id) {
                        toastr.error("You've already added this ingredient!");
                        isAlreadyInArray = true;
                    }
                });

                if (!isAlreadyInArray) {
                    ChosenIngredients.push(ingredientInRecipe);
                    AppendToTable(ingredientInRecipe.IngredientId, ingredientName, ingredientInRecipe.Quantity);
                }
            });

        $("#btnPost").click(function () {

            var vm = new Object();
            var recipe = new Object();
            recipe.Id = $('#recipeId').val();
            recipe.Name = $('#inputName').val();
            recipe.ShortDescription = $('#inputDescription').val();
            recipe.PreparationTime = $('#inputPreparationTime').val();
            recipe.Instructions = $('#inputInstructions').val();
            recipe.CategoryId = $('#mealCategoryDropdown').find(":selected").val();
            recipe.DifficultyLevel = $('#difficultyLevelDropdown').find(":selected").val();
            vm.Recipe = recipe;
            vm.ChosenIngredients = ChosenIngredients;

            url = "/Recipes/CreateRecipe";
            data = vm;
            dataType = "json";

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: dataType,
                success: function (data) {

                    var file_data = $("#avatar").prop("files")[0];
	                var form_data = new FormData();
                    form_data.append("file", file_data);
                    form_data.append("recipeId", data);

                    $.ajax({
                        url: "/api/recipePictures",
                        dataType: 'json',
                        cache: false,
                        contentType: false,
                        processData: false,
                        data: form_data,
                        type: 'POST',
                        success: function (response) {
                            window.location.href = response.redirectToUrl;
                        }
                    });
                }
            });
        });

        $('#inputInstructions').keypress(function(event) {
            if (event.which == 13) {
                event.preventDefault();
                  var s = $(this).val();
                  $(this).val(s+"\n");
            }
        });
    });

    function Remove(id) {
        $.each(ChosenIngredients, function (index, value) {
            if (value.IngredientId == id) {
                ChosenIngredients.splice(index, 1);

                $('#ingredientsTable tr#' + id).fadeOut(300, function () {
                    $(this).remove();
                });
            }
        });
    }

    function AppendAddedIngredient(id, name, quantity) {
            var ingredientInRecipe = new Object();
            ingredientInRecipe.IngredientId = id;
            ingredientInRecipe.Quantity = quantity;
            ChosenIngredients.push(ingredientInRecipe);

            AppendToTable(id, name, quantity);
    }

    function AppendToTable(id, name, quantity) {
            $('#ingredientsTable').append("<tr id=" + id + ">" +
                "<td>" + name + "</td>" +
                "<td>" + quantity + "</td>" +
                "<td><input id='btnRemoveIngredient' type='button' value='delete' onclick='Remove(" + id + ")' class='btn btn-danger' data-button=" + id + "/></td>" +
                "</tr>");

                $('#ingredientsTable tr#' + id).hide().fadeIn(300);
        }
</script>
}

