@using Microsoft.AspNetCore.Identity

@model CookBookApp.Models.ViewModels.RecipeDetailsViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<div class="container">

    <h1>@Model.Recipe.Name</h1>

    @if (SignInManager.IsSignedIn(User))
    {
        <button name="isFavourited" type='button' class="btn btn-warning" data-button='{"recipeId": "@Model.Recipe.Id", "userId": "@UserManager.GetUserId(User)"}'>
            @if (Model.IsFavouritedByCurrentUser)
            {
                @:<i class="fas fa-heart"></i>
            }
            else
            {
                @:<i class="far fa-heart"></i>
            }
        </button>

        @if (Model.Recipe.UserId == UserManager.GetUserId(User))
        {
            <a asp-controller="Recipes" asp-action="Edit" asp-route-id="@Model.Recipe.Id" class="btn btn-info">Edit</a>
            <a asp-controller="Recipes" asp-action="Delete" asp-route-id="@Model.Recipe.Id" class="btn btn-danger">Delete</a>
        }
    }

    <div>
        Created by:
        <a asp-controller="Profiles" asp-action="Details" asp-route-id="@Model.Recipe.User.Id">@Model.Recipe.User.UserName</a>
    </div>

    <h5>Description:</h5>
    <p>@Model.Recipe.ShortDescription</p>

    <h5>Ingredients:</h5>
    <ul class="list-group col-md-6">
        @foreach (var item in @Model.Ingredients)
        {
            <li class="list-group-item">@item.Ingredient.Name - @item.Quantity</li>
        }
    </ul>

    <h5>Instructions:</h5>
    <p>@Model.Recipe.Instructions</p>
    <h5>Difficulty Level:</h5>
    <p>@Model.Recipe.PreparationTime</p>
    <h5>Preparation Time:</h5>
    <p>@Model.Recipe.DifficultyLevel</p>

    <h5>Category:</h5>
    <p>@Model.Recipe.Category.Name</p>

</div>

@section Scripts  {
    <script>
        $(function () {

            $('button').click(function () {
                var data = $.parseJSON($(this).attr('data-button'));
                var recipeId = data.recipeId;
                var userId = data.userId;

                AddToFavourite(userId, recipeId);
            });

            function RemoveFromFavourite(userId, recipeId) {
                $.ajax({
                    url: "/api/favouriterecipes/" + userId + "/" + recipeId,
                    method: "DELETE",
                    success: function () {
                        toastr.success('Recipe successfully removed from favourite');
                        $('[name="isFavourited"]').html('<i class="far fa-heart"></i>');
                    }
                });
            }

            function AddToFavourite(userId, recipeId) {
                $.ajax({
                    url: "/api/favouriterecipes/",
                    method: "POST",
                    data: { UserId: userId, RecipeId: recipeId },
                    success: function () {
                        toastr.success('Recipe successfully added to favourite');
                        $('[name="isFavourited"]').html('<i class="fas fa-heart"></i>');
                    },
                    error: function () {
                        RemoveFromFavourite(userId, recipeId);
                    }
                });
            }
        });
    </script>
}
