@model CookBookApp.Models.ViewModels.RecipeDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

    <div class="container">

        <h1>@Model.Recipe.Name</h1>

        <button type='button' class="btn btn-warning"
                data-button='{"recipeId": "@Model.Recipe.Id", "userId": "@Model.Recipe.UserId"}'>
                Favourite
        </button>

        <h5>Description:</h5>
        <p>@Model.Recipe.ShortDescription</p>

        <h5>Ingredients:</h5>
        <ul class="list-group col-md-6">
            @foreach (var item in @Model.Ingredients)
            {
                <li class="list-group-item">@item.Ingredient.Name - @item.Quantity</li>
            }
        </ul>

        <h5>Instructions:</h5>
        <p>@Model.Recipe.Instructions</p>
        <h5>Difficulty Level:</h5>
        <p>@Model.Recipe.PreparationTime</p>
        <h5>Preparation Time:</h5>
        <p>@Model.Recipe.DifficultyLevel</p>

        <h5>Created By:</h5>
        <p>@Model.Recipe.User.UserName at @Model.Recipe.CreatedAt</p>
        <button class="btn btn-warning">User Profile</button>

        <h5>Category:</h5>
        <p>@Model.Recipe.Category.Name</p>


    </div>

@section  Scripts  {
<script>
    $(document).ready(function () {
        //<i class="far fa-heart"></i><i class="fas fa-heart">

        // TODO - Display correct FA icon according to the status (presence) in FavouriteRecipes table

        $('button').click(function(){
            var data = $.parseJSON($(this).attr('data-button'));
            var recipeId = data.recipeId;
            var userId = data.userId;

                $.ajax({
                    url: "/api/favouriterecipes/",
                    method: "POST",
                    data: { UserId: userId, RecipeId: recipeId },
                    success: function (data) {
                        alert("Added to favourite");
                    },
                    error: function (response)
                    {
                        $.ajax({
                            url: "/api/favouriterecipes/" + userId + "/" + recipeId,
                            method: "DELETE",
                            success: function () {
                                alert("Deleted from favourite");
                            }
                        });
                    }
                });


        });

    });
</script>
}
