@using Microsoft.AspNetCore.Identity

@model CookBookApp.Models.ViewModels.RecipeDetailsViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-md-4">
        <h1>
            @Model.Recipe.Name

            @if (SignInManager.IsSignedIn(User))
            {
                <button id="favouriteBtn" name="isFavourited" type='button' class="btn btn-light" 
                        data-button='{
                            "recipeId": "@Model.Recipe.Id",
                            "userId": "@UserManager.GetUserId(User)",
                            "numberOfLikes": "@Model.NumberOfLikes"
                        }'>
                    @Model.NumberOfLikes
                    @if (Model.IsFavouritedByCurrentUser)
                    {
                        @: <i class="fas fa-heart"></i>
                    }
                    else
                    {
                        @: <i class="far fa-heart"></i>
                    }
                </button>
            }
            <br /><small class="text-muted">@Model.Recipe.Category.Name</small>
        </h1>
        <p>@Model.Recipe.ShortDescription</p>

        <p>By:
            <a asp-controller="Profiles" asp-action="Details" asp-route-id="@Model.Recipe.User.Id">
                <i class="fas fa-user"></i> @Model.Recipe.User.UserName
            </a>
        </p>

        <a asp-controller="Recipes" asp-action="CreatePdf" asp-route-id="@Model.Recipe.Id" class="btn btn-dark">
            <i class="fas fa-download"></i> Download PDF
        </a>

        <br /><br />

        <button id="shoppingList" type='button' class="btn btn-dark" 
                data-button='{"recipeId": "@Model.Recipe.Id" }'>
            <i class="fab fa-google"></i> Create Google Tasks Shopping List
        </button>

        <br /><br />

        <button id="toggleEmail" class="btn btn-dark"><i class="far fa-envelope"></i> Send Email</button>

        <br />

        <div id="emailForm" class="form-group">
            <div class="row">
                <div class="col-md-8">
                    <input id="email" type="text" class="form-control " />
                </div>
                <div class="col-md-4">
                    <button id="emailRecipe" type='button' class="btn btn-dark" data-button='{"recipeId": "@Model.Recipe.Id" }'>
                       Send
                    </button>
                </div>
            </div>
        </div>


        @if (SignInManager.IsSignedIn(User))
        {
            @if (Model.Recipe.UserId == UserManager.GetUserId(User))
            {
                <a asp-controller="Recipes" asp-action="Edit" asp-route-id="@Model.Recipe.Id" class="btn btn-info"><i class="fas fa-edit"></i> Edit</a>
                <a asp-controller="Recipes" asp-action="Delete" asp-route-id="@Model.Recipe.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
            }
        }

    </div>
    <div class="col-md-8">
        <img alt="" src="@ViewData["RecipePicturePath"]" class="img-fluid" />
        <ul class="list-unstyled list-inline  text-center">
            <li class="list-inline-item"><i class="fas fa-signal"></i> @Model.Recipe.DifficultyLevel</li>
            <li class="list-inline-item"><i class="far fa-clock"></i> @Model.Recipe.PreparationTime</li>
            <li class="list-inline-item"><i class="far fa-calendar-plus"></i> @Model.NumberOfDaysFromCreation days ago</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h5>Ingredients:</h5>
        <ul class="list-group ">
            @foreach (var item in Model.Ingredients)
            {
                <li class="list-group-item">@item.Ingredient.Name: @item.Quantity</li>
            }
        </ul>
    </div>
    <div class="col-md-8">
        <h5>Instructions:</h5>
        <p style="white-space: pre-wrap;">@Model.Recipe.Instructions</p>
    </div>
</div>

<br />

<div>
    <h5>Comments</h5>

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="row">
            <div class="col-md-10">
                <textarea id="commentContent" type="text" class="form-control" cols="26" rows="1"
                          placeholder="Add new comment"></textarea>
            </div>
            <div class="col-md-2">
                <button id="commentSubmit" type='button' class="btn btn-dark"
                        data-button='{"recipeId": "@Model.Recipe.Id", "userId":"@UserManager.GetUserId(User)" }'>
                    <i class="fas fa-plus"></i> Add comment
                </button>
            </div>
        </div>
        <br />
    }

    <div id="comments" class="list-group">
        <div id="commentsList" class="list-group-item list-group-item-action flex-column align-items-start">
            @foreach (var item in Model.Recipe.Comments.ToList())
            {
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@item.Content</h5>
                    <small>@((DateTime.Now - item.Recipe.CreatedAt).Days) days ago</small>
                </div>
                <small>@item.User.UserName</small>
            }
        </div>
    </div>
</div>

@section Scripts  
{
    <script type="text/javascript" src="~/js/views/recipe-details.js"></script>
}