@model CookBookApp.Models.ViewModels.RecipeDetailsViewModel
@{
    ViewData["Title"] = "Details";
}


    <div class="container">

        <h1>@Model.Recipe.Name</h1>
        <button class="btn btn-success">Save</button>
        <h5>Description:</h5>
        <p>@Model.Recipe.ShortDescription</p>

        <h5>Ingredients:</h5>
        <ul class="list-group col-md-6">
            @foreach (var item in @Model.Ingredients)
            {
                <li class="list-group-item">@item.Ingredient.Name - @item.Quantity</li>
            }
        </ul>

        <h5>Instructions:</h5>
        <p>@Model.Recipe.Instructions</p>
        <h5>Difficulty Level:</h5>
        <p>@Model.Recipe.PreparationTime</p>
        <h5>Preparation Time:</h5>
        <p>@Model.Recipe.DifficultyLevel</p>

        <h5>Created By:</h5>
        <p>@Model.Recipe.User.UserName at @Model.Recipe.CreatedAt</p>
        <button class="btn btn-warning">User Profile</button>

        <h5>Category:</h5>
        <p>@Model.Recipe.Category.Name</p>


    </div>

